# Compilados y archivos de build
/target/
*.class

# Logs
*.log

# Archivos temporales
*.tmp
*.bak
*.swp

# IDEs
/.idea/
/*.iml
*.iws
*.ipr
/.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Maven
.mvn/
!**/src/main/**/.gitkeep

# Archivos generados por Spring Boot
spring.log